html, body, #map{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#map{
  height: 100%;
}

#topbar{
  width: 410px;
  position: absolute;
  top: 20px;
  left: 3%;
  background-color: white;
  z-index: 10;
}

#drug-drop-down {
	padding: 10px;
	font-size: 14px;
	-webkit-appearance: none;
}